# **First Day**

***Understanding of Colab***

In [ ]:
print('Hello World') # case sensitive

Hello World

In [ ]:
print("Hello World");

Hello World

***Variables and Data Types***

In [ ]:
10

10

In [ ]:
num1=10
num2=10

res=num1+num2
print(res)

20

In [ ]:
print(type(num1))

<class 'int'>

In [ ]:
age = 30  # integer
print(type(age))
name = "abc" # string
print(type(name))
sal = 45.78 # float
print(type(sal))
is_perm = False # boolean
print(type(is_perm))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
num1 = 10 # over write
num2 = 20

# arithmatic
res1 = num1 + num1 # addition
res2 = num1 - num2 # subtraction
res3 = num1 * num2 # multiplication
res4 = num1 / num2 # division
res5 = num1 % num2 # modulo division

print(res1)
print(res2)
print(res3)
print(res4)
print(res5)

# logical -> Boolean
res6 = num1 > num2 # greater than
res7 = num1 < num2 # less than
res8 = num1 == num2 # equal to
res9 = num1 != num2 # not equal to

print(res6)
print(res7)
print(res8)
print(res9)

20
-10
200
0.5
10
False
True
False
True

In [ ]:
num1 = 10
num2 = 20

res = num1 + num2
print(res)

30

In [ ]:
# method, function, definitaion
def add_any_nums(n1, n2): # accepting numbers
  res = n1 + n2 # performing logic
  print(res) # presenting results

In [ ]:
add_any_nums(34, 89)
add_any_nums(23, 90)
add_any_nums(3, 3)
add_any_nums(34, 89)

123
113
6
123

In [ ]:
marks = 67

if marks > 35:
  print("Pass")
else:
  print("Fail")

Pass

In [ ]:
def test_marks(marks):
  if marks > 35:
    print("Pass")
  else:
    print("Fail")

In [ ]:
test_marks(78)
test_marks(67)

Pass
Pass

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in [0, 1, 2, 3, 4]:
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(10):
  print(f"Hello World {i}")

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9

In [ ]:
name = 'android'
print('OS is Android')
print(f"OS is {name}")

OS is android

In [ ]:
cnt = 10
while cnt >= 0:
   print(f'Hello {cnt}')
   cnt = cnt - 1

Hello 10
Hello 9
Hello 8
Hello 7
Hello 6
Hello 5
Hello 4
Hello 3
Hello 2
Hello 1
Hello 0

In [ ]:
# few built-in functions
type(10) # type of given value
print('Hey Hi') # output the given string
range(18) # give range of values between 0 to 18
input('')
int('11')
float('11.90')
bool('True')

Hey Hi

range(0, 18)

In [ ]:
name = input('Whats Your name') # user can input the data
print(f'My Name is {name}')

Whats Your nameaniruddha
My Name is aniruddha

In [ ]:
while True:
  cmd = input('Enter the Deatils: ')
  print(cmd)

  if cmd.lower() == 'exit':
    break

Enter the Deatils: ddf
ddf
Enter the Deatils: sdf
sdf
Enter the Deatils: ExIt
ExIt

In [ ]:
str_num1 = '111'
str_num2 = '111'

print(str_num1 + str_num2)

print('Before Conversion')
print(type(str_num1))
print(type(str_num2))

# we need to convert strings to integer
num1 = int(str_num1)
num2 = int(str_num2)

print('After Conversion')
print(type(num1))
print(type(num2))

print(num1 + num2)

111111
Before Conversion
<class 'str'>
<class 'str'>
After Conversion
<class 'int'>
<class 'int'>
222

In [ ]:
num1 = input('Num1')
num2 = input('Num2')

print(int(num1) + int(num2))

Num112
Num245
57

In [ ]:
n = 90
print(type(n))
print(n)

st =  str(n)
print(type(st))
print(st)

<class 'int'>
90
<class 'str'>
90

In [ ]:
n1 = int('111') # expected condition

In [ ]:
n2 = int('abc') # unwanted condition

In [ ]:
ip = input('Enter the Number')
try:
  # error prone code
  num = int(ip) # code might generate error
  print('Successful Conversion')
except:
  # your error handling mechanism
  print('There is error')
  num = 0
finally:
  print('I will execute all the time')

Enter the Number43w54
There is error