## **Batch 02: Tue, 18 Mar 2025**

In [2]:
print('Welcome to Python') # built-in function to show msg on output devices

Welcome to Python

In [3]:
# this is called comment
print('This will be executed')

This will be executed

# **Variables, Data Types and Operators**

In [4]:
# age -> number
56

# name -> string
'acvvv'

# weight -> decimal number
56.90

# dibetic -> boolean
False

False

In [6]:
age = 56
name = 'abc'
weight = 56.90
is_dibetic = False

print(age)
print(name)
print(weight)
print(is_dibetic)

56
acvvv
56.9
False

In [9]:

num1 = 89
num2 = 23

# Arithimatic Operators
res = num1 + num2 # addition
print(res)

res = num1 - num2 # subtraction
print(res)

res = num1 * num2 # multiplication
print(res)

res = num1 / num2 # division
print(res)

res = num1 % num2 # modulo division
print(res)

# Logical Operators
res = num1 > num2 # greater than
print(res)

res = num1 < num2 # less than
print(res)

112
66
2047
3.869565217391304
20
True
False

# **Functions -> Methods -> Defenitions**

In [10]:
n1 = 67
n2 = 43

r = n1 + n2 # business logic
print(r)

110

In [11]:
n1 = 45
n2 = 43

r = n1 + n2 # business logic
print(r)

88

In [12]:
n1 = 78
n2 = 90

r = n1 + n2 # business logic
print(r)

168

In [21]:
# function defination
def sum(nm1, nm2):
  r = nm1 + nm2 # business logic
  print(r)

print('This is not the part of function')

This is not the part of function

In [22]:
# calling the functions

sum(67, 43)
sum(45, 43)
sum(78, 90)

110
88
168

In [25]:
# built-in functions
print('This is built-in function')
type(12)
input('')

This is built-in function

int

In [26]:
nm = 'Android'
print(type(nm))

<class 'str'>

# **Conditional Statements (if, elif, else)**

In [30]:
marks = 40

if marks > 50:
  print('First Class')
elif marks >= 35 and marks < 50:
  print('Second Class')
else:
  print('Fail')

Second Class

# **Loops**

In [31]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [32]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [41]:
for i in [1, 2, 3]:
  print(f'Hello World {i}')

Hello World 1
Hello World 2
Hello World 3

In [44]:
for i in range(3):
  print(f'Hello World {i}')

Hello World 0
Hello World 1
Hello World 2

In [39]:
num = 566
print(num)

print('Number Assigned is 90')
print(f'Number Assigned is {num}') # formatted ouputs

566
Number Assigned is 90
Number Assigned is 566

In [48]:
day = input('Enter Day: ')
print(day)

Enter Day: abc
abc

In [49]:
cnt = 0
while cnt < 10:
  print(f'Hello World {cnt}')
  cnt = cnt + 1

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9

In [50]:
while True:
  day = input('Enter Day') # assignment
  print(day)

  if day == 'sun': # Equality Check
    break

Enter Daymon
mon
Enter Daytue
tue
Enter Daywed
wed
Enter Daysun
sun

In [51]:
10 == 10

True

In [52]:
10 == '10'

False

In [53]:
type(10)

int

In [54]:
type('10')

str

# **Data Structures**

In [55]:
m1 = 90
m2 = 67
m3 = 23
m4 = 78
m5 = 12

In [64]:
# List -> ordered
marks1 = [90, 67, 23, 78, 12] # rectangular brackets
print(marks1)
marks1.append(56) # mutable -> data can be changed
print(marks1)

print(f'Marks of 1st Student {marks1[0]}') # accessing 0th element

[90, 67, 23, 78, 12]
[90, 67, 23, 78, 12, 56]
Marks of 1st Student 90

In [65]:
# Tuple ->  ordered
marks2 = (90, 67, 23, 78, 12) # round brackets
print(marks2)
#marks2.append(56) # immutable -> data cant not be modified
#print(marks2)

print(f'Marks of 1st Student {marks2[0]}') # accessing 0th element

(90, 67, 23, 78, 12)
Marks of 1st Student 90

In [68]:
# Dictionary

dc1 = { 'age': 40, 'name': 'abc', 'weight;': 78.90, 'is_dibetic': False }
print(dc1)

{'age': 40, 'name': 'abc', 'weight;': 78.9, 'is_dibetic': False}

In [ ]:
patients = [
    { 'age': 40, 'name': 'abc', 'weight;': 78.90, 'is_dibetic': False },
    { 'age': 34, 'name': 'xyz', 'weight;': 67.90, 'is_dibetic': True },
    { 'age': 23, 'name': 'pqr', 'weight;': 56.90, 'is_dibetic': False },
    { 'age': 12, 'name': 'lmn', 'weight;': 45.90, 'is_dibetic': True },
    { 'age': 56, 'name': 'mno', 'weight;': 34.90, 'is_dibetic': False }
]

In [71]:
# Set -> unordered -> duplicates are not allowed

s1 = { 1, 3, 2, 3 ,4, 1, 2 }
print(s1)

s1.add(5)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [74]:
for i in s1:

  if i > 10:
    print(f'bigger value {i}')
  else:
    print(f'smaller value {i}')

smaller value 1
smaller value 2
smaller value 3
smaller value 4
smaller value 5

In [ ]:
# prompt: generetae list comprehesations

# List comprehension to extract ages from the 'patients' list
ages = [patient['age'] for patient in patients]
print(ages)


# List comprehension to extract names of diabetic patients
diabetic_names = [patient['name'] for patient in patients if patient['is_dibetic']]
print(diabetic_names)


# List comprehension to create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print(even_numbers)


# List comprehension to create a list of squares of numbers from 1 to 10
squares = [num**2 for num in range(1, 11)]
print(squares)


# List comprehension to convert a list of strings to uppercase
strings = ['hello', 'world', 'python']
uppercase_strings = [string.upper() for string in strings]
uppercase_strings

https://www.learnpython.org/