# **Batch 03: Python Programming**

https://www.learnpython.org/

In [4]:
print('Welcome to Python')

Welcome to Python

## **Variables, Data Types, and Operators**

In [15]:
# this is python notebook, this is comment.

In [19]:
# employee health history

56
78.67
'abc'
True

True

In [20]:
# employee health history

print(56)
print(78.67)
print('abc')
print(True)

56
78.67
abc
True

In [29]:
# naming the values is called, defining variables

age=56 # number
weight=78.67 # decimal number
name='John Doe'  # group of characters -> string
is_dibetic=True # boolean

In [26]:
print(age)
print(weight)
print(name)
print(is_dibetic)

56
78.67
abc
True

In [30]:
print(type(45))
print(type(78.62))
print(type('John Doe'))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [31]:
print(type(age))
print(type(weight))
print(type(name))
print(type(is_dibetic))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [39]:

num1 = 10
num2 = 78

# Arithmatic Operators

res = num1 + num2
print(res)

res = num1 - num2
print(res)

res = num1 * num2
print(res)

res = num1 / num2
print(res)

res = num1 % num2
print(res)

88
-68
780
0.1282051282051282
10

In [47]:
# Logical Operators

print(True and True)
print(True and False)
print(False or True)
print(False or False)

num1 = 90
num2 = 89

print('Comparision and Logical')
print(num1 > 80 and num2 > 80)
print(num1 > 80 or num2 > 80)

True
False
True
False
Comparision and Logical
True
True

In [45]:
age = 45
print('Age is 90')
print(f'Age is {age} {num1} {num2}') # formatted outputs

Age is 90
Age is 45 90 89

# **Functions -> Methods -> Definitions**

In [48]:
num1 = 78
num2 = 589

rs = num1 + num2 # business logic
print(f'Addition is {rs}')

Addition is 667

In [49]:
num1 = 41
num2 = 29

rs = num1 + num2 # business logic
print(f'Addition is {rs}')

Addition is 70

In [50]:
num1 = 110
num2 = 789

rs = num1 + num2 # business logic
print(f'Addition is {rs}')

Addition is 899

In [79]:
# definition of function
def sum(n1 , n2):

  print(f'Addition is {n1 + n2}')

print('Simple Sum Demo')

Simple Sum Demo

In [80]:
# call the function
sum(12, 90) # n1 = 12, n2 = 90
sum(78, 89) # n1 = 78, n2 = 89
sum(100, 200) # n1 = 100, n2 = 200

Addition is 102
Addition is 167
Addition is 300

## **Conditional Statements**

In [ ]:
marks = 56

if marks >= 40:
  print('Pass')
else:
  print('Fail')

In [90]:
marks = 90

if marks >= 40 and marks < 50:
  print('Pass')
elif marks > 51 and marks < 65 :
  print('Second Class')
elif marks > 66 and marks < 75 :
  print('First Class')
elif marks >= 76 :
  print('Distinction')
else:
  print('Fail')

Distinction

## **Loops**

In [91]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# for - if there fixed information
# while - if there are uncertain info

In [ ]:
for i in [1, 2, 3, 5, 6, 7, 8, 9, 10]:
  print(f'Hello World {i}')

In [ ]:
for i in range(30):
  print(f'Hello World')

In [99]:
cnt = 0
while cnt < 10:
  print(cnt)
  cnt = cnt + 1

0
1
2
3
4
5
6
7
8
9

In [101]:
name = input('Enter Your Name')
print(f'My Name is {name}')

Enter Your Nameaniruddha
My Name is aniruddha

In [105]:
while True:
  print('Purchase Menu')
  print('a) New Customer')
  print('b) Customer Deatils')
  print('c) Create Invoice')
  print('d) exit')
  print('Type a, b, c, or d')

  choice = input('Enter Your Choice')
  if choice == 'd':
    print('User wants to exit')
    break
  elif choice == 'a':
    print('User wants to create new customer')
  elif choice == 'b':
    print('User wants to see customer details')
  elif choice == 'c':
    print('User wants to create new invoice')

Purchase Menu
a) New Customer
b) Customer Deatils
c) Create Invoice
d) exit
Type a, b, c, or d
Enter Your Choicea
User wants to create new customer
Purchase Menu
a) New Customer
b) Customer Deatils
c) Create Invoice
d) exit
Type a, b, c, or d
Enter Your Choiced
User wants to exit

## **Data Structures**

In [114]:
# List - orderd mutable collection
# list starts from 0th index
names = ['abc', 'pqr', 'lmn', 'xyz']
print(names)
names.append('mno')
names.append('xyz')
print(names)
print(names[0])

['abc', 'pqr', 'lmn', 'xyz']
['abc', 'pqr', 'lmn', 'xyz', 'mno', 'xyz']
abc

In [115]:
# Tuple - ordered immutable collection
# tuple starts from 0th index
mobiles = (1231, 4679, 7412, 4569)
# mobiles.append(7891)
print(mobiles)
print(mobiles[0])

(1231, 4679, 7412, 4569)
1231

In [117]:
# Dictionary - key value pairs
info = { 'page' : 300, 'author' : 'abc', 'name' : 'Rich Dad, Poor Dad'  }
print(info)
print(info['page'])

{'page': 300, 'author': 'abc', 'name': 'Rich Dad, Poor Dad'}
300

In [116]:
# Set - unordered mutable unique collection
# set is not indexed
pan_num = { 1, 2, 1, 3, 4, 3, 2, 4 }
print(pan_num)
pan_num.add(5)
print(pan_num)
# print(pan_num[0]) set will not have indices

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

In [ ]:
# Numpy - Data Manipulation
# Pandas - Data Analysis
# Matplotlib - Data Visualize

# Go to above things only after mastering python
# https://jakevdp.github.io/PythonDataScienceHandbook/