# **Batch 04: Python Programming**
https://www.learnpython.org/

## ***Variables, Data Types and Operator***

In [11]:
# print('hey hi') anything preceeded with # is called comment;
# comments are not interpreted by python
print('hey hello')

hey hello

In [9]:
print('hey hi')
print('hey hello')

hey hi
hey hello

In [14]:
# employee health deatils

# age 40 (number) years,
# weight 78.5kg (decimal number),
# name John Doe (text),
# dibetic yes (boolean)

In [15]:
40 # data type is number -> int
78.5 # data type is decimal number -> float
"John Doe" # data type is text -> string
True # data type is boolean -> bool

print(40)
print(78.5)
print("John Doe")
print(True)

40
78.5
John Doe
True

In [ ]:
efkjghghgeklfjhgejklffhgklejfg = 40
jksfghjklefwghkjsfhgejkwg = 78.5
kjwdfgkswjgefjkwg = "John Doe"
aswdlfgwkghwk = True

In [26]:
age = 45
weight = 78.5
name = "John Doe"
is_dibetic = True

Python Naming Conventions https://peps.python.org/pep-0008/

In [27]:
print(age)
print(weight)
print(name)
print(is_dibetic)

45
78.5
John Doe
True

In [28]:
print('Age is age')
print('Age is 40')
print(f'Age is {age}')

Age is age
Age is 40
Age is 45

In [30]:
num1 = 90
num2 = 78

# Arithmatic Operators
res = num1 + num2
print(f'Addtion is {res}')

res = num1 - num2
print(f'Subtraction is {res}')

res = num1 * num2
print(f'Multiplication is {res}')

res = num1 / num2
print(f'Division is {res}')

# Comparision Operators
res = num1 > num2
print(f'Greater than is {res}')

res = num1 < num2
print(f'Less than is {res}')

Addtion is 168
Subtraction is 12
Multiplication is 7020
Division is 1.1538461538461537
Greater than is True
Less than is False

In [34]:
num1 = 30
num2 = 43
res = num1 + num2 # business logic
print(f'Addition is {res}')

Addition is 73

In [35]:
num1 = 34
num2 = res
res = num1 + num2 # business logic
print(f'Addition is {res}')

Addition is 107

In [36]:
num1 = 65
num2 = res
res = num1 + num2 # business logic
print(f'Addition is {res}')

Addition is 172

## **Functions**

In [39]:
# we defined our own function

def add_two_numbers(num1, num2):
  res = num1 + num2 # business logic
  print(f'Addition is {res}')

print('Anything') # this line is not a part of function body

Anything

In [40]:
# Now we need to call our own function

add_two_numbers(10, 20)
add_two_numbers(56, 45)
add_two_numbers(34, 56)

Addition is 30
Addition is 101
Addition is 90

## **Conditional Statements**

In [48]:
marks = 102

if marks > 40 and marks <= 50:
  print("Grade D")
elif marks > 50 and marks <= 60:
  print("Grade C")
elif marks > 60 and marks <= 70:
  print("Grade B")
elif marks > 70 and marks <= 80:
  print("Grade A")
elif marks > 80 and marks <= 100:
  print("First Class")
else:
  print("Fail")

Fail

## **Loops**

In [50]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [51]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# for - for known iterations
# while - for unknown iterations

In [53]:
for i in [1, 2, 3, 4, 5]:
  print(f'Hello World {i}')

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5

In [ ]:
for i in range(50):
  print(f'Hello World {i}')

In [55]:
cnt = 0
while cnt < 10:
  print(cnt)
  cnt = cnt + 1

0
1
2
3
4
5
6
7
8
9

## **Data Structures**

In [56]:
marks1 = 20
marks2 = 89
marks3 = 85
marks4 = 90
marks5 = 92

In [76]:
# list - ordred mutable collection of data
# mutable - data can be modified
marks = [1, 2, -1, 78, 90, 2]
print(marks)
marks.append(100)
marks.insert(1,1111 )
print(marks)
print(marks[0]) # element at 0th location, item at 0th index

[1, 2, -1, 78, 90, 2]
[1, 1111, 2, -1, 78, 90, 2, 100]
1

In [77]:
# tuple - ordered immutable collection of data
# immutable - data cant be modified, it is read only
mobiles = (1, 2, -1, 78, 90, 2)
# mobiles.append(900)
print(mobiles)
print(mobiles[3])

(1, 2, -1, 78, 90, 2)
78

In [79]:
# dictionary - key value pairs
books = { 'pages' : 100, 'name' :'Rich Dad, Poor Dad' }
print(books)
books['price'] = 889
print(books)
print(books['pages'])

{'pages': 100, 'name': 'Rich Dad, Poor Dad'}
{'pages': 100, 'name': 'Rich Dad, Poor Dad', 'price': 889}
100

In [78]:
# set - unordered mutable collection of unique data
pans = { 3 , 1, 2, 1, 2, 4, 3, 4, 3 }
print(pans)
pans.add(122)
pans.add(1)
print(pans)
# print(pans[3]) set are not indexed

{1, 2, 3, 4}
{1, 2, 3, 4, 122}

TypeError: 'set' object is not subscriptable

## **Error Handling**

In [82]:
num1 = 10
num2 = 0

try:
  # error prone things would be written inside try block
  res = num1/num2
  # file is not exisisting, and your are reading file
  # no internet, you making query to google
  # hdd is not writable, and your are trying to write
  # etx etx
except:
  # error handling mechanism would be written in except block
  print('There is some error')

There is some error

## **Future Tasks : AI and Data Science**

In [ ]:
# before starting these things, please master the python

# numpy - Data Manipulation
# pandas - Data Analaysis
# matplotlib - Data Visulization