# **05 Batch Python Notebook**

In [5]:
print('Welcome to Python')

Welcome to Python

## ***Variable, Data Types and Operators***

In [6]:
'Abc'
50
50.23
'none'
True

True

In [8]:
# I will not execute this, because this is called comment

print('I am python')
# print('I am also python')

I am python

In [10]:
# 'Abc' this value is of type string
# 50 this value is of type integer
# 50.23 this value is of type float
# 'none' this value is again of string
# True this value is of type boolean

In [11]:
print(type('Abc'))
print(type(50))
print(type(50.23))
print(type("none"))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [20]:
name = 'OTTY'
age = 50
weight = 50.23
physical_activity = 'none'
is_dibetic = True

In [21]:
print(name)
print(age)
print(weight)
print(physical_activity)
print(is_dibetic)

OTTY
50
50.23
none
True

In [22]:
print('Name is name')
print('Name is Abc')
print(f'Name is {name}')

Name is name
Name is Abc
Name is OTTY

In [23]:
num1 = 10
num2 = 30

# Arithmatic Operators
res = num1 + num2 # Addition of 2 numbers
print(f'Addition is {res}')

res = num1 - num2 # Subtraction of 2 numbers
print(f'Subtraction is {res}')

res = num1 * num2 # Multiplication of 2 numbers
print(f'Multiplication is {res}')

res = num1 / num2 # Division of 2 numbers
print(f'Division is {res}')

# Comparision Operators
res = num1 > num2 # Greater than
print(f'Greater than is {res}')

res = num1 < num2 # Less than
print(f'Less than is {res}')

res = num1 == num2 # Equal to
print(f'Equal to is {res}')

res = num1 != num2 # Not equal to
print(f'Not equal to is {res}')

Addition is 40
Subtraction is -20
Multiplication is 300
Division is 0.3333333333333333
Greater than is False
Less than is True
Equal to is False
Not equal to is True

## **Functions**

In [24]:
num1 = 10
num2 = 20

res = num1 + num2 # this is the logic
print(f'Addition is {res}')

Addition is 30

In [25]:
num1 = 30
num2 = 50

res = num1 + num2 # this is the logic
print(f'Addition is {res}')

Addition is 80

In [26]:
num1 = 89
num2 = 73

res = num1 + num2 # this is the logic
print(f'Addition is {res}')

Addition is 162

In [28]:
# things to note
# n1, n2 are called parameters

# def is keyword to define function
# sum can be any name

# tabs or intend is important

# below is called function definiotion

def sum(n1, n2):
  res = n1 + n2
  print(f'Addition is {res}')

print('This is not the part of function')

This is not the part of function

In [29]:
sum(10,20)
sum(89,56)

Addition is 30
Addition is 145

In [30]:
def sub(n1, n2):
  res = n1 - n2
  print(f'Subtraction is {res}')

In [31]:
def mul(n1, n2):
  res = n1 * n2
  print(f"The multiplication of {n1} and {n2} is {res}")

In [32]:
sum(45, 56)
sub(89, 12)
mul(89, 56)

Addition is 101
Subtraction is 77
The multiplication of 89 and 56 is 4984

## ***Conditional Statements***

In [34]:
marks = 30

if marks >= 35:
  print('Pass')
else:
  print('Fail')

Fail

In [37]:
# if elif else ladder

day = 98

if day == 0:
    print("Sunday")
elif day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
else:
    print("Invalid day")

Invalid day

## ***Loops***

In [38]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [39]:
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# Loops
# while - if dont know about condition go with while
# for - if you know start and stop

In [42]:
cnt = 0

while cnt < 10:
  print('Hello World')
  cnt = cnt + 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [43]:
for i in [10, 56, 2, 56, 23]:
  print('Hello World')

Hello World
Hello World
Hello World

In [ ]:
for i in range(300):
  print(f'Hello World {i}')

## ***Data Structures***

In [50]:
# List - collection of ordered mutable data

nums = [5, 78, 1, 6, 1 ,9, 11]
print(nums)

print(f'1st Element {nums[0]}')
print(f'last Element {nums[6]}')

nums[1] = 555
print(nums)

[5, 78, 1, 6, 1, 9, 11]
1st Element 5
last Element 11
[5, 555, 1, 6, 1, 9, 11]

In [51]:
# Tuple - collection of ordered immutable data
nums = (5, 78, 1, 6, 1 ,9, 11)
print(nums)

print(f'1st Element {nums[0]}')
print(f'last Element {nums[6]}')

# nums[1] = 555
print(nums)

(5, 78, 1, 6, 1, 9, 11)
1st Element 5
last Element 11

TypeError: 'tuple' object does not support item assignment

In [53]:
# Dictionary - collection of key value pairs
dc = {
      'name' : 'abc',
      'age' : 50,
      'weight': 60,
      'activity' : 'none',
      'is_dibetic' : True
    }
print(dc)

print(f"Name is {dc['name']}")
print(f"Age is {dc['age']}")

dc['height'] = 5.6

print(dc)

{'name': 'abc', 'age': 50, 'weight': 60, 'activity': 'none', 'is_dibetic': True}
Name is abc
Age is 50
{'name': 'abc', 'age': 50, 'weight': 60, 'activity': 'none', 'is_dibetic': True, 'height': 5.6}

In [58]:
# Set - collection of unordered unique mutable data
st = { 5, 78, 1, 6, 1 ,9, 11 }
print(st)

# print(f'1st Element {st[0]}')

# st[1] = 555
st.add(56)
print(st)

{1, 5, 6, 9, 11, 78}
{1, 5, 6, 56, 9, 11, 78}
[{1, 5, 6, 56, 9, 11, 78}]

In [60]:
# print(st.pop())
# print(st)
lst = list(st)
print(lst)
print(lst[0])

[1, 5, 6, 56, 9, 11, 78]
1

## ***Error Handling***

In [63]:
st = '123'
print(type(st))

num = 123
print(type(num))

st_num = int(st) # type conversion -> string converted to integer
print(st_num)
print(type(st_num))

<class 'str'>
<class 'int'>
123
<class 'int'>

In [71]:
try:
  st = '1a' # it is expected that string represents number
  num = int(st)
except:
  print('there is an error')

there is an error

## ***Case Study***

In [75]:
def show_menu():
  print('1. Deposit')
  print('2. Withdraw')
  print('3. Balance')
  print('4. Exit')

while True:
  show_menu()

  choice = input('Enter Your Choice')
  ch = int(choice)

  if ch >= 4:
    print('Bye Bye')
    break
  elif ch == 1:
    print('User wants to Deposit Amount')
  elif ch == 2:
    print('User wants to Withdraw Amount')
  elif ch == 3:
    print('User Wants to check Balance')

1. Deposit
2. Withdraw
3. Balance
4. Exit
Enter Your Choice798
Bye Bye

## ***Future Learning***

- Numpy: Data Manipulatin
- Pandas: Data Analysis
- Matplotlib: Data Visulization

## ***Material***
https://www.learnpython.org/